html, body {
  background-color: $off-white;
}

header, nav {
  background-color: $white;
}

header {
  position: sticky;
  top: 0px;
  z-index: 3;
  height: 60px;
  padding: 0 30px;
  box-shadow: 0 3px 3px rgba(0,0,0,.10);

  h4 {
    line-height: 60px;
  }
}

// Mobile + Tablet Layout
@media (max-width: 999px) {
  .app-container {
    nav {
      display: none;
    }

    .product {
      .description {
        .content {
          padding: 15px;
        }
      }
    }
  }
}

// Desktop Layout
@media (min-width: 1000px) {
  .app-container {
    display: flex;
    flex-direction: row;

    nav {
      position: sticky;
      top: 60px;
      z-index: 2;
      height: calc(100vh - 120px);
      width: 170px;
      padding: 30px;
      box-shadow: 5px 0 5px -3px rgba(0,0,0,.15);
    }

    .product {
      display: flex;
      flex-direction: row;
      width: calc(100vw - 200px);

      .image {
        position: sticky;
        top: 60px;
        height: calc(100vh - 60px);
        width: 60%;
      }

      .description {
        width: 40%;

        .content {
          padding: 30px;
        }
      }
    }
  }
}
