html, body {
  background-color: #efefef;
}

* {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 20px;
}

$light-gray: #c9c9c9;

@import "layout.scss";

// Components
@import "../components/pan-zoom/pan-zoom.scss";
@import "../components/pan/pan.scss";
@import "../components/zoom/zoom.scss";
