.zoom-container {
  .zoom-content {
    transition: transform 200ms;
  }

  .zoom-in, .zoom-out {
    position: absolute;
    right: 30px;
    width: 20px;
    height: 20px;
    cursor: pointer;

    &.disabled {
      fill: $gray;
      stroke: $gray;
    }
  }

  .zoom-in {
    top: 30px;
  }

  .zoom-out {
    top: 60px;
  }
}
